<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Registration" parallel="none">
    <test name="Test">
        <parameter name="locator" value="locator"/>
        <parameter name="mail" value="mail"/>
        <classes>
            <class name="RegistrationTest">
            </class>
        </classes>
    </test>
    <test name="Test2">
        <parameter name="locator" value="locator"/>
        <parameter name="mail" value="mail"/>
        <classes>
            <class name="RegistrationTest">
            </class>
        </classes>
    </test>
</suite>